<% layout('layout/boilerplate') %>
<div class="row mt-5">
    <div class="col-8 offset-2">
        <div class="alert alert-danger" role="alert">
            <h3 class="alert-heading"> <%= err.status %> : <%= err.name %>  </h4>
                <h5><%= err.message %> </h1>
                    <% if(process.env.NODE_ENV != "production") { %> 
                    <hr>
                    <p> <%=  err.stack %> </p>
                    <% } %> 
          </div>
          <button onclick="goBack()" class="btn btn-success" style="position: absolute; left: 75% ;">Back</button>
    </div>
    
</div>

<script>
    function goBack() {
      window.history.back();
    }
</script>

