<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
  <title>cyberlabs-1</title>
</head>

<body >
  <%- include('../partials/navbar')%>
  <main class="container mt-2">
    <%- include('../partials/flash')%> <!-- Including a partial 'flash' , instead we can include that total code here too. -->
      <%- body %>
  </main>
  
  <%# include('../partials/footer')%>

  <!-- <footer class="footer bg-dark py-4 mt-auto">
    <div class="container text-center">
        <span class="text-muted"> &copy; campIt</span>
    </div>
</footer> -->


  <script src="/js/formValid.js"></script> <!-- BootStrap form validation-->

  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>
</body>

</html>